# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
secrets-local.json
secrets-dev.json
db.sqlite3
media
migrations/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# PyCharm
.idea